Repository apache/flink-connector-kafka, pull requests merged in 2023-10, with the labels that each got.

#56 [FLINK-33219][connector/kafka] Add new archunit violation messages introduced by FLINK-31804
  .github/workflows/push_pr.yml
  flink-connector-kafka/archunit-violations/86dfd459-67a9-4b26-9b5c-0b0bbf22681a
Labels: component=BuildSystem, component=Connectors/Kafka

#58 [FLINK-33231] [source] Properly evict offsetsToCommit cache on checkpoint complete if no offsets exist
  flink-connector-kafka/src/main/java/org/apache/flink/connector/kafka/source/reader/KafkaSourceReader.java
  flink-connector-kafka/src/test/java/org/apache/flink/connector/kafka/source/reader/KafkaSourceReaderTest.java
Labels: component=Connectors/Kafka

#61 [hotfix] Update CI strategy
  .github/workflows/push_pr.yml
  .github/workflows/weekly.yml
Labels: component=BuildSystem

#50 [FLINK-30400][build] Stop bundling flink-connector-base
  flink-connector-kafka-e2e-tests/flink-end-to-end-tests-common-kafka/pom.xml
  flink-connector-kafka/pom.xml
  flink-sql-connector-kafka/pom.xml
Labels: component=Connectors/Kafka

#62 [FLINK-33219][BP v3.0][connector/kafka] Add new archunit violation messages introduced by FLINK-31804
  .github/workflows/push_pr.yml
  flink-connector-kafka/archunit-violations/86dfd459-67a9-4b26-9b5c-0b0bbf22681a
Labels: component=BuildSystem, component=Connectors/Kafka
