Repository apache/flink-connector-kafka, pull requests merged in 2024-04, with the labels that each got.

#90 [FLINK-35007] Add support for Flink 1.19
  .github/workflows/push_pr.yml
  .github/workflows/weekly.yml
  flink-connector-kafka/src/test/java/org/apache/flink/streaming/connectors/kafka/testutils/DataGenerators.java
  flink-python/dev/integration_test.sh
  flink-python/pyflink/flink-conf.yaml
Labels: component=BuildSystem, component=Connectors/Kafka

#92 [FLINK-34961] Use dedicated CI name for Kafka connector to differentiate it in infra-reports
  .github/workflows/push_pr.yml
  .github/workflows/weekly.yml
Labels: component=BuildSystem

#94 [FLINK-35007][BP v3.1] Add support for Flink 1.19 (#90)
  .github/workflows/push_pr.yml
  .github/workflows/weekly.yml
  flink-connector-kafka/src/test/java/org/apache/flink/streaming/connectors/kafka/testutils/DataGenerators.java
  flink-python/dev/integration_test.sh
  flink-python/pyflink/flink-conf.yaml
Labels: component=BuildSystem, component=Connectors/Kafka

#93 [FLINK-35038] Bump `org.yaml:snakeyaml` to `2.2`
  flink-connector-kafka/pom.xml
  flink-connector-kafka/src/test/java/org/apache/flink/connector/kafka/testutils/YamlFileMetadataService.java
Labels: component=Connectors/Kafka

#95 [FLINK-34961][BP v3.1] Use dedicated CI name for Kafka connector to differentiate it in infra-reports
  .github/workflows/push_pr.yml
  .github/workflows/weekly.yml
Labels: component=BuildSystem

#97 [FLINK-35228][Connectors/Kafka] Fix: DynamicKafkaSource does not read re-added topic for the same cluster
  flink-connector-kafka/src/main/java/org/apache/flink/connector/kafka/dynamic/source/enumerator/DynamicKafkaSourceEnumerator.java
  flink-connector-kafka/src/test/java/org/apache/flink/connector/kafka/dynamic/source/DynamicKafkaSourceITTest.java
  flink-connector-kafka/src/test/java/org/apache/flink/connector/kafka/dynamic/source/enumerator/DynamicKafkaSourceEnumeratorTest.java
  flink-connector-kafka/src/test/java/org/apache/flink/streaming/connectors/kafka/DynamicKafkaSourceTestHelper.java
Labels: component=Connectors/Kafka
